<div class="footer">
    <div class="w-content">
        <div id="footer-row-1">
            <div class="col col-1">
                <p>
                    <img alt="" class="logo" src="http://ot0ttrxbb.bkt.clouddn.com/pc-static/bg/nav_logo.png"/>
                </p>
                <p>
                    <img alt="" class="logo_text" src="../../image/pic/footer_logo_white.png"/>
                </p>
            </div>
            <div class="divide">
            </div>
            <div class="col col-2">
                <p class="service">
                    <a class="about" href="">
                        关于我们
                    </a>
                    <a class="help" href="">
                        帮助中心
                    </a>
                    <a class="feedback" href="">
                        意见反馈
                    </a>
                    <a class="law" href="">
                        法律声明
                    </a>
                    <a class="partner" href="">
                        合作伙伴
                    </a>
                </p>
                <p class="copyright">
                    Copyright © 2017-2020 WWW.YIDAOMF.COM - 易道魔方系统 - 粤ICP备14037330号-1
                </p>
                <p class="platform">
                    <a class="android" href="">
                        <img src="http://ot0ttrxbb.bkt.clouddn.com/pc-static/icon/ic_Android.png"/>
                    </a>
                    <a class="ios" href="">
                        <img src="http://ot0ttrxbb.bkt.clouddn.com/pc-static/icon/ic_ios.png"/>
                    </a>
                    <a class="wechat" href="">
                        <img src="http://ot0ttrxbb.bkt.clouddn.com/pc-static/icon/ic_wechat.png"/>
                    </a>
                </p>
            </div>
            <!-- <div class="divide"></div> -->
            <div class="col col-3">
                微信公众号
            </div>
        </div>
    </div>
</div>
<!-- 侧边栏 -->
<div id="side-bar">
    <a class="start-custom-con">
        <div class="icon">
        </div>
        <div class="text">
            开始定制
        </div>
    </a>
    <div class="online-con">
        <a href="tencent://message/?uin=1234567&Site=Sambow&Menu=yes">
            <div class="icon">
            </div>
            <div class="text">
                在线咨询
            </div>
        </a>
    </div>
    <div class="app-download-con">
        <a>
            <div class="icon">
            </div>
            <div class="text">
                APP下载
            </div>
        </a>
    </div>
    <div class="to-top-con">
        <a>
        </a>
    </div>
</div>
<!-- 开始定制弹出 -->
<div id="start-custom-popup">
    <div class="start-custom-wrap">
        <div class="header">
            <h2>
                请选择您要定制的柜类
            </h2>
            <a class="caseshow-cantainer" href="./showcase.html">
                <img alt="案例阅览" class="caseshow" src="http://ot0ttrxbb.bkt.clouddn.com/pc-static/bg/btn_case_reading.png"/>
                <span class="text">
                    案例阅览
                </span>
            </a>
        </div>
        <ul class="line-list">
            <li class="line1">
            </li>
            <li class="line2">
            </li>
            <li class="line3">
            </li>
        </ul>
        <!-- 关闭按钮 -->
        <div class="close iconfont">
            
        </div>
        <div class="close-line">
        </div>
        <!-- 衣柜及移门定制 -->
        <dl class="chest choose-list">
            <dt>
                衣柜及移门定制
            </dt>
            <dd>
                <a href="./custom-wall-inner-cabinet-set.html">
                    <img alt="入墙式移门壁柜" src="http://ot0ttrxbb.bkt.clouddn.com/pc-static/bg/ic_into_the_wall_closet_door.png"/>
                </a>
                <div class="text">
                    入墙式移门壁柜
                </div>
            </dd>
            <dd>
                <a href="./custom-wall-outer-cabinet-set.html">
                    <img alt="墙外独立移门衣柜" src="http://ot0ttrxbb.bkt.clouddn.com/pc-static/bg/ic_independent_wardrobe.png"/>
                </a>
                <div class="text">
                    墙外独立移门衣柜
                </div>
            </dd>
            <dd>
                <a href="./custom-flat-door-cabinet-set.html">
                    <img alt="平开门标准衣柜" src="http://ot0ttrxbb.bkt.clouddn.com/pc-static/bg/ic_flat_door_standard_wardrobe.png"/>
                </a>
                <div class="text">
                    平开门标准衣柜
                </div>
            </dd>
            <dd>
                <a href="./custom-move-door-set.html">
                    <img alt="移门定制" src="http://ot0ttrxbb.bkt.clouddn.com/pc-static/bg/ic_flat_door_wardrobe.png"/>
                </a>
                <div class="text">
                    移门定制
                </div>
            </dd>
        </dl>
        <!-- 综合柜类 -->
        <dl class="composite choose-list">
            <dt>
                衣柜及移门定制
            </dt>
            <dd>
                <a href="./custom-book-cabinet-set.html">
                    <img alt="书柜及综合柜类" src="http://ot0ttrxbb.bkt.clouddn.com/pc-static/bg/ic_bookcase_and_door_classification.png"/>
                </a>
                <div class="text">
                    书柜及综合柜类
                </div>
            </dd>
            <dd onclick="alert('敬请期待！')">
                <img alt="书柜+写字桌" src="http://ot0ttrxbb.bkt.clouddn.com/pc-static/bg/ic_bookcase_and_desk.png"/>
                <div class="text">
                    书柜+写字桌
                </div>
            </dd>
            <dd onclick="alert('敬请期待！')">
                <img alt="客厅电视柜组合" src="http://ot0ttrxbb.bkt.clouddn.com/pc-static/bg/ic_TV_cabinet.png"/>
                <div class="text">
                    客厅电视柜组合
                </div>
            </dd>
            <dd onclick="alert('敬请期待！')">
                <img alt="壁挂吊柜" src="http://ot0ttrxbb.bkt.clouddn.com/pc-static/bg/ic_wall_hanging_cabinet.png"/>
                <div class="text">
                    壁挂吊柜
                </div>
            </dd>
        </dl>
        <!-- 往期方案 -->
        <div class="past-project-container">
            <div class="header">
                往期方案
            </div>
            <ul class="past-project-list clearfix" onclick="alert('敬请期待！')">
                <li>
                    <a>
                        <img alt="" src="http://ot0ttrxbb.bkt.clouddn.com/pc-static/placeholder/image_goods_01.png"/>
                    </a>
                    <a class="title">
                        橡木纹理复古移门柜
                    </a>
                </li>
                <li>
                    <a>
                        <img alt="" src="http://ot0ttrxbb.bkt.clouddn.com/pc-static/placeholder/image_goods_01.png"/>
                    </a>
                    <a class="title">
                        橡木纹理复古移门柜
                    </a>
                </li>
                <li>
                    <a>
                        <img alt="" src="http://ot0ttrxbb.bkt.clouddn.com/pc-static/placeholder/image_goods_01.png"/>
                    </a>
                    <a class="title">
                        橡木纹理复古移门柜
                    </a>
                </li>
                <li>
                    <a>
                        <img alt="" src="http://ot0ttrxbb.bkt.clouddn.com/pc-static/placeholder/image_goods_01.png"/>
                    </a>
                    <a class="title">
                        橡木纹理复古移门柜
                    </a>
                </li>
                <li>
                    <a>
                        <img alt="" src="http://ot0ttrxbb.bkt.clouddn.com/pc-static/placeholder/image_goods_01.png"/>
                    </a>
                    <a class="title">
                        橡木纹理复古移门柜
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>