<div id="header">
    <!-- 中间内容 -->
    <div class="wrapper">
        <div class="center-wrapper">
            <ul class="nav-list clearfix">
                <li class="nav-item">
                    <a class="link" href="./index.html">首页</a>
                    <div class="cover">
                    </div>
                </li>
                <li class="nav-item">
                    <a class="link" href="./mall-index.html">家装商城</a>
                    <div class="cover">
                    </div>
                </li>
                <li class="nav-item">
                    <a class="link" href="./showcase.html">案例展示</a>
                    <div class="cover">
                    </div>
                </li>
                <li class="nav-item">
                    <a class="link" href="./forum.html">论坛社区</a>
                    <div class="cover">
                    </div>
                </li>
                <li class="nav-item">
                    <a class="link" href="./need.html">按需定制</a>
                    <div class="cover">
                    </div>
                </li>
            </ul>
        </div>
        <!-- 左侧logo区域 -->
        <a class="logo-wrap clearfix" href="./index.html">
            <div class="logo-img-box">
                <img alt="logo" src="http://ot0ttrxbb.bkt.clouddn.com/pc-static/icon/ic_logo.png" />
            </div>
            <div class="logo-text-box">
                <img alt="logo" src="http://ot0ttrxbb.bkt.clouddn.com/pc-static/bg/pic_logo_text.png" />
            </div>
        </a>
        <!-- 右边登录区域 -->
        <ul class="icon-list clearfix">
            <!-- 分隔线 -->
            <span class="divide"></span>

            <!-- 搜索 -->
            <li class="icon-item">
                <a class="iconfont search">&#xe60d;</a>

            </li>

            <!-- 消息详情 -->
            <li class="icon-item">
                <a class="iconfont notice" href="./message-official.html?index=0">&#xe62b;</a>
            </li>

            <!-- 登录状态 -->
            <li class="icon-item">
                <a class="user-center" href="./user-login.html"><img src="http://ot0ttrxbb.bkt.clouddn.com/pc-static/bg/ic_not_login_head.png" alt="用户状态图" class="user icon" /></a>
            </li>

            <!-- 进入定制 -->
            <li>
                <a class="link into-custom">进入定制</a>
            </li>
        </ul>
    </div>


    <!-- 隐藏的搜索框 -->
    <div id="search-popup">
        <div class="header">搜索</div>
        <div class="content-container clearfix">
            <!-- 下拉列表 -->
            <div class="dropdown-container">
                <div class="header-dropdown">
                    <span class="selected">
                        分类
                    </span>
                    <i class="iconfont">&#xe627;</i>
                    <ul class="dropdown-list">
                        <li>商品</li>
                        <li>案例</li>
                        <li>帖子</li>
                        <li>需求</li>
                    </ul>
                </div>
            </div>
            <input type="text" class="header-search-input" placeholder="请输入您要查找的内容" />
        </div>
        <!-- 关闭按钮 -->
        <div class="close iconfont">&#xe731;</div>
    </div>
</div>